*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}


a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

.font-small-grey{
    font-size: 0.6em;
    color:rgba(163,163,163,255);
}

.font-small-white{
    font-size: 0.7em;
    color: rgba(254,254,254,255)
}

.font-big{
    font-size: 0.7em;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.page-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}    


main{
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
    background-color: brown;
}

.sidebar{
    width: 200px;
    height: 100%;
    float: left;
    background-color: black;
}

.sidebar svg{
    color: rgba(163,163,163,255);
}

.side-top{
    height: calc(100% - 60px);
    min-height: 250px;
    display: flex;
    flex-direction: column;
    
}


.logo img{
    width: 120px;
    padding: 10px;
    margin: 10px 0;
}

.main-buttons{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.main-buttons img{
    width: 20px;
    vertical-align: middle;
    margin-right: 2px;
}

.main-buttons span{
    vertical-align: middle;
}

.buttons{
    margin-bottom: 5px;;
}

.playlist{
    height: calc(100% - 230px);
    overflow-y: hidden;
    margin-top: 15px;
    margin-left: 10px;
}

.playlist ul{
    height: 80%;
    overflow-y: auto;
    line-height: 30px;
}

.playlist h3{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}


.playlist-logo{
    margin-bottom: 5px;
    color: rgba(163,163,163,255);
}

.playlist-logo i{
    border: 1px solid transparent;
    color: black;
    background-color: rgba(163,163,163,255);
    padding: 6px;
    margin-right: 10px;
    
}

.side-bottom{
    height: 60px;
    margin: 0px 10px;
}

.side-bottom img{
    width: 20px;
    margin-top: 5px;
    vertical-align: middle;
    margin: 6px;
    
}

.download img{
    width: 15px;
    
}

.profile img{
    width: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgba(163,163,163,255);
}

.profile span{
   font-weight: bold;
}

.side-bottom span{
    vertical-align: middle;
}

.music-section{
    width: calc(100% - 200px);
    height: 100%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(20,25,34,255);
    float: left;
    overflow-y: auto;
}

.top-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 200px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);

}


.top-bar-button{
    border: 1px solid rgba(163,163,163,255);
    border-radius: 20px;
    color: white;
    padding: 0.6em 1.8em;
    margin-right: 30px;

}

.top-navbar{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.top-navbar li{
    display: inline-block;
    padding-right: 1.5em;
    margin-top: 1em;
    color: rgba(163,163,163,255);
}

.album-section-title{
    margin-top: 34px;
    color: white;
}

.album{
    display: flex;
    
}

.image-wrapper{
    width: calc(100% / 6 - 1em);
    margin-top: 20px;
    margin-right: 1em;
    text-align: center;
}

.image-wrapper img{
    width: 100%;
}

.image-wrapper p{
    margin: 5px 0;
    color: white;
    font-weight: bold;
}

.circle img{
    border-radius: 50%;
}

footer{
    width: 100%;
    height: 80px;
    background-color: rgba(40,40,40,255);
}


.footer-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.left-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    margin-left: 10px;
}

.left-side img{
    width: 35px;
    margin-right: 10px;
}

.left-icon{
    margin-left: 80px;
}


.right-side{
    width: 250px;
    height: 100%;
}

.central{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 200px;
    height: 100%;
}

.top-central{
    padding: 10px;
}

.top-central i{
    font-size: 1.5em;
    margin-right: 20px;
    color: rgba(193,193,193,255);
    
}


 .top-central .play{
    font-size: 2em;
    
}

.bottom-central{
    margin-bottom: 1em;
}

.progression-bar{
    border: 3px solid rgba(163,163,163,255);
    display: inline-block;
    width: 20em;
    margin: 0 10px;
}

.right-side{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-side i{
    padding: 0.5em;
    font-size: 0.8em;
    color: rgba(193,193,193,255);
}

.progression-bar-2{
    border: 3px solid rgba(163,163,163,255);
    display: inline-block;
    width: 9em;
}