*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}


.font-small-grey{
    font-size: 0.7em;
    color:rgba(163,163,163,255);
}

.font-small-white{
    font-size: 0.7em;
    color: rgba(254,254,254,255)
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.page-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: aqua;
}


main{
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
    background-color: brown;
}

.sidebar{
    width: 200px;
    height: 100%;
    float: left;
    background-color: black;
}

.sidebar svg{
    color: rgba(163,163,163,255);
}

.side-top{
    height: calc(100% - 60px);
    min-height: 250px;
    display: flex;
    flex-direction: column;
    
}


.logo img{
    width: 150px;
    padding: 10px;
}

.main-buttons{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.main-buttons img{
    width: 20px;
    vertical-align: middle;
    margin-right: 2px;
}

.main-buttons span{
    vertical-align: middle;
}

.buttons{
    margin-bottom: 5px;;
}

.playlist{
    height: calc(100% - 230px);
    overflow-y: hidden;
    margin-top: 15px;
    margin-left: 10px;
}

.playlist ul{
    height: 80%;
    list-style-type: none;
    overflow-y: auto;
    line-height: 30px;
}

.playlist h3{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}


.playlist-logo{
    margin-bottom: 5px;
    color: rgba(163,163,163,255);
}

.playlist-logo i{
    border: 1px solid transparent;
    color: black;
    background-color: rgba(163,163,163,255);
    padding: 6px;
    margin-right: 10px;
    
}

.side-bottom{
    height: 60px;
    margin: 0px 10px;
}

.side-bottom img{
    width: 20px;
    margin-top: 5px;
    vertical-align: middle;
    margin: 6px;
    
}

.download img{
    width: 15px;
    
}

.profile img{
    width: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgba(163,163,163,255);
}

.profile span{
   font-weight: bold;
}

.side-bottom span{
    vertical-align: middle;
}

.music-section{
    width: calc(100% - 200px);
    height: 100%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: chocolate;
    float: left;
    overflow-y: auto;
}

.top-bar{
    width: calc(100% - 200px);
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);

}

footer{
    width: 100%;
    height: 100px;
    background-color: blue;
}